.main_animalPage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;
}

.main_animalPage img {
    width: 100px;
    height: 100px;
}

.popUp{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #282828;
    color: white;

    display: flex;
    flex-direction: column;
    width: 40vh;
    font-family: "Oswald", sans-serif;
}

.popUp img {
    width: 100%;
    height: auto;
}

.popUp p{
    margin: 10px 0px;
    font-size: 15px;
    padding: 0px 8px;
}

.popUp h2{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.popUp button{
    position: absolute;
    top: 0px;
    right: 0px;
}
